; Filename:     dailyLogs.cfg
; Description:
;
; (c) COPYRIGHT QC Software, LLC 2017 All Rights Reserved
; No part of this copyrighted work may be reproduced, modified, or distributed
; in any form or by any means without the prior written permission of QC
; Software, LLC.
;
; $Id: dailyLogs.cfg 9566 2017-09-06 17:08:37Z wlw $
;
plcInterface 3432
scannerMgr 4432
toteMgr 2010028
