; Filename:     toteMgr.cfg
; Description:
;
; (c) COPYRIGHT QC Software, LLC 2017 All Rights Reserved
; No part of this copyrighted work may be reproduced, modified, or distributed
; in any form or by any means without the prior written permission of QC
; Software, LLC.
;
; $Id: toteMgr.cfg 9566 2017-09-06 17:08:37Z wlw $
;
define database         $DATABASE_NAME
define plcInterface     plcInterface

define divertActualLane 9
define divertSequenceNo 8
define divertStatus     4
define divertSorterId   7

start plcWrites
  messageType           1
  sequenceNumber        8
  sorterId              7
  1stDestination        9
  2ndDestination        -1
end plcWrites

start plcReads
  messageType           1
  sorterId              7
  sequenceNumber        8
  actualDivert          9
  status                4
end plcReads
