# Java Template

{{#tags}}
  ## {{name}}
  {{#issues}}
    {{#hasIssue}}
      {{#hasLink}}
        ### {{name}} [{{issue}}]({{link}}) {{title}}
      {{/hasLink}}
      {{^hasLink}}
        ### {{name}} {{issue}} {{title}}
      {{/hasLink}}
    {{/hasIssue}}
    {{^hasIssue}}
      ### {{name}}
    {{/hasIssue}}

    {{#commits}}
      **{{{messageTitle}}}**

      {{#messageBodyItems}}
        * {{.}}
      {{/messageBodyItems}}

      [{{hash}}](https://bitbucket.org/qcteam1/javatemplate/commits/{{hash}}) {{authorName}} *{{commitTime}}*

    {{/commits}}

  {{/issues}}
{{/tags}}